a:hover {
  color: #66FCF1
}

a, a:visited {
  text-decoration: none;
  color: #F5F5F5
}

ul {
  padding-left: 0;
}

.nav-item {
  list-style: none;
  display: inline-block;
  font-weight: 600
}

.nav-item:last-child {
  float:right;
}
